<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ///////////////////////////////////////         FOOTER       /////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<footer>
  <div class="container-fluid bg-black">
    <div class="row">
      <div class="col text-center py-5">
        <img src="{{asset('img/logo-footer.png')}}" alt="">
        <p class="text-center text-light-gray py-4 font-90">The NB business concept is to offer fashion and quality at the best price. The NB has since it was founded in 1987 <br> grown into one of the world's leading fashion companies.</p>
        <div class="text-light-gray text-center">
          <i class="fab fa-facebook-f mx-3 h4"></i>
          <i class="fab fa-twitter mx-3 h4"></i>
          <i class="fab fa-google-plus-g mx-3 h4"></i>
          <i class="fab fa-linkedin-in mx-3 h4"></i>
          <i class="fab fa-pinterest mx-3 h4"></i>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <div class="px-5">
          <div class="separator_dashed"></div>
        </div>
      </div>
      <div class="col py-4 text-center text-light-gray">
        <i class="fas fa-map-marker-alt h3 d-block"></i>No 40 Lyon<br> France
      </div>
      <div class="col py-4 text-center text-light-gray">
        <i class="fas fa-envelope h3 d-block"></i>Email : Contact@the-nb.com <br> Gmail : the-nb@gmail.com
      </div>
      <div class="col py-4 text-center text-light-gray">
        <i class="fas fa-phone-alt h3 d-block"></i>Phone : (0033) 11-11-11-11 <br> Telephone : (0033) 22-22-22-22
      </div>
      <div class="col-12">
        <div class="p-3 px-5">
          <div class="separator_dashed"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text-light-gray font-80">
        <p>SM NB © 2019 Demo Store. All Rights Reserved. Designed by NB.Com</p>
      </div>
    </div>
  </div>
</footer>
